absl-py==2.3.0
accelerate==1.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.4
aiosignal==1.3.2
alembic==1.16.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
asteroid-filterbanks==0.4.0
async-timeout==4.0.3
av==14.4.0
backoff>=1.10.0,<2.0.0
click==8.2.1
coloredlogs==15.0.1
colorlog==6.9.0
chromadb==0.4.24
ctranslate2==4.4.0
curl_cffi==0.11.1
dill==0.4.0
distro==1.9.0
dnspython==2.7.0
docopt==0.6.2
einops==0.8.1
fastapi==0.115.12
faster-whisper==1.1.1
filelock==3.18.0
flatbuffers==25.2.10
frozendict==2.4.6
frozenlist==1.6.0
fsspec==2025.5.1
greenlet==3.2.2
grpcio==1.71.0
hf-xet==1.1.2
huggingface-hub==0.32.2
humanfriendly==10.0
HyperPyYAML==1.2.2
jiter==0.10.0
julius==0.2.7
lightning==2.5.1.post0
lightning-fabric==2.5.1.post0
lightning-utilities==0.14.3
llvmlite==0.44.0
Mako==1.3.10
Markdown==3.8
markdown-it-py==3.0.0
matplotlib==3.10.3
mdurl==0.1.2
more-itertools==10.7.0
mpmath==1.3.0
multidict==6.4.4
multiprocess==0.70.18
multitasking==0.0.11
munkres==1.1.4
networkx==3.4.2
nltk==3.9.1
noisereduce==3.0.3
omegaconf==2.3.0
onnxruntime==1.22.0
openai==1.82.0
openai-whisper==20240930
optuna==4.3.0
packaging==24.2
peewee==3.18.1
primePy==1.3
propcache==0.3.1
protobuf==6.31.1
ptflops==0.7.4
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==20.0.0
PyAudio==0.2.14
pydantic==2.11.5
pydantic_core==2.33.2
pydub==0.25.1
pymongo==4.13.0
python-dotenv==1.1.0
pytorch-lightning==2.5.1.post0
pytorch-metric-learning==2.8.1
regex==2024.11.6
rich==14.0.0
ruamel.yaml==0.18.11
ruamel.yaml.clib==0.2.12
safetensors==0.5.3
semver==3.0.4
sentence-transformers==4.1.0
sentencepiece==0.2.0
shellingham==1.5.4
sortedcontainers==2.4.0
speechbrain==1.0.3
SQLAlchemy==2.0.41
starlette==0.46.2
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tiktoken==0.9.0
tokenizers==0.21.1
torch-audiomentations==0.12.0
torch_pitch_shift==1.2.5
torchmetrics==1.7.2
tqdm==4.67.1
transformers==4.52.3
triton==3.3.0
typer==0.16.0
typing-inspection==0.4.1
uvicorn==0.34.2
websockets==15.0.1
Werkzeug==3.1.3
whisperx==3.3.4
yarl==1.20.0
yfinance==0.2.61
zep-cloud==2.12.3
zep-python==2.0.2
zstandard==0.23.0